.recent{
    flex: 1;
    box-shadow: 7px 6px 8px 2px rgba(230,221,221,1);
    -webkit-box-shadow: 7px 6px 8px 2px rgba(230,221,221,1);
    -moz-box-shadow: 7px 6px 8px 2px rgba(230,221,221,1);
    padding: 10px;
    border-radius: 10px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
        
        .title{
            font-size: 20px;
            font-weight: bold;
        }
    }

    .bottom{
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 300px;
    }
}